:root {
    --accent: red;
    --accent-light: #3764a7;
    --pure-white: #fff;
}
HTML {
    box-sizing: border-box;
    scroll-behavior: smooth;

}
*,
*::before,
*::after {
    box-sizing: inherit;

}
body {
    margin: 0;
    font-family:'Open Sans', sans-serif; 
    color: var(--accent);
}
.container {
    width: 1140px;
    margin: o auto;
}
.header {
    background-color: var(--accent);
}
.header {
    color: var(--pure-white);
    
}.header-nav {
    padding: 0 15px;
    border: 1px solid black;
}
.header-menu-link {
    padding: 15px;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    transition: background-color 1s;
}
.header-menu-item {
    display: inline;
}